body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bookman, URW Bookman L, serif;
}

.container {
    background-image:
        linear-gradient(0deg, #01274c, #ffca06);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-container {
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-rows: (0.01)fr 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.left-container {
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-rows: (0.01)fr 1fr;
    grid-template-columns: fr 0.8fr;
    grid-column: 1;
    grid-row: 2;
}

.effect-container {
    grid-column: 1;
    grid-row: 3;
}

.plot-container {
    grid-column: 2;
    grid-row: 2;
    align-items: center;
}

.ahdsr-container {
    grid-column: 1;
    grid-row: 2;
    gap: 10px;
}

.btn-container {
    grid-column: 2;
    grid-row: 2;
}

.oct-container {
    grid-column: 2;
    grid-row: 3;
}

.hv-container {
    grid-column: 2;
    grid-row: 2;
}

.vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hori {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.piano-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.piano-keys-list {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.piano-keys {
    width: 5rem;
    cursor: pointer;
    position: relative;
    height: 20rem;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
}

.white-key {
    background-color: #fff;
    color: black;

    .span {
        vertical-align: bottom;
    }
}

.black-key {
    width: 2rem;
    height: 13rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #000;
    z-index: 2;
    margin: 0 -20px 0 -20px;
    color: white;

    .span {
        padding-top: -40px;
        vertical-align: bottom;
        position: relative;
        top: 38px;
    }
}

@media screen and (min-width: 821px) and (max-width: 1024px) {
    .piano-keys {
        width: 4rem;
        cursor: pointer;
        position: relative;
        height: 20rem;
        border-radius: 10px;
        border: 1px solid #000;
    }

    .black-key {
        width: 2rem;
        height: 13rem;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #000;
        z-index: 2;
        margin: 0 -20px 0 -20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 820px) {
    .piano-keys {
        width: 3.5rem;
        cursor: pointer;
        position: relative;
        height: 16rem;
        border-radius: 10px;
        border: 1px solid #000;
    }

    .black-key {
        width: 1.8rem;
        height: 10rem;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #000;
        z-index: 2;
        margin: 0 -20px 0 -20px;
    }
}

@media screen and (max-width: 576px) {
    .piano-container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;
    }

    .piano-keys {
        width: 3.5rem;
        cursor: pointer;
        position: relative;
        height: 16rem;
        border-radius: 10px;
        border: 1px solid #000;
    }

    .black-key {
        width: 1.8rem;
        height: 10rem;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #000;
        z-index: 2;
        margin: 0 -20px 0 -20px;
    }
}

.slider {
    -webkit-appearance: none;
    width: 100px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* transform: rotate(270deg); */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #01274c;
    cursor: pointer;
}

.btn {
    background-color: #01274c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 450px;
    max-height: 450px;
}